:root {
  --font-primary: 'Quicksand', sans-serif;
  --color-primary: #dbebc3;
  --color-primary-dark: #079444;
  --secondary: #ea7691;
  --color-accent: #f6941d;
  --color-neutral: #333333;
}

html {
  font-family: var(--font-primary);
}

.short-max-length {
  max-width: 25em;
}
