.hero-image {
  background: linear-gradient (rgba(0, 130, 170, 0 ), rgba(0, 130, 170, 1)), url("/images/citrus.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
