.banner {
  background-color: (rgba(0, 130, 170, 0.2),), url("../images/citrus.jpg");
  background-size: 100% auto;
  background-position: center bottom;
}

.banner-content{
  color: #efefef;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 400px auto;
}

.banner h1{
  color: #efefef;
}

.rule {
  border-top: 3px solid var(--color-text);
  border-bottom: 3px solid var(--color-text);
}
