html {
  text-align: center;
}

nav {
  background-color: var(--color-primary);
}

nav a {
  color: var(--neutral);
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.hover-text:hover {
  width: 100%;
  color: var(--secondary);
}

nav a.active {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  width: 100%;
}

.current {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.current:hover {
  color: var(--color-secondary);
  background-color:  var(--color-primary-light);
}

@media only screen and (min-width: 25em) {

  h1,
  p {
    margin: 0 0 1.3rem;
  }

}

@media only screen and (min-width: 38em) {

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  header ul li {
    display: inline-block;
    width: 20%;
  }

  ul {
    margin: 0;
  }

  header ul .cart-text {
    display: none;
  }

}
